h1 {
  font-size: 3.5rem; }

.btn {
  border-radius: 3rem; }

.slideInUp {
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: slideInUp; }

.pulse {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: pulse; }

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  height: 1000px;
  background: #fff; }

.btn.button {
  background: #51B9D2;
  color: #fff; }

.prod-text {
  color: #51B9D2; }

#scroll-top {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 2rem;
  margin-bottom: 2rem;
  z-index: 100; }
  #scroll-top a:hover {
    text-decoration: none; }
  #scroll-top span {
    position: relative;
    top: -12px;
    right: -2px;
    background-color: #107389; }
  #scroll-top .fa {
    font-size: 3rem;
    color: #107389; }

header {
  color: #000;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#da6498+0,d1236b+100 */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d3cbce+0,d34a83+47,d53f7f+100 */
  background: #51B9D2;
  /* Old browsers */ }

header b {
  color: black; }

#show-case {
  padding: 2.2rem 0;
  background: url("../img/model.jpg") no-repeat;
  background-size: cover;
  background-position: top right;
  color: #fff;
  min-height: 700px; }
  #show-case #exclusive {
    color: #000; }
  #show-case #bottle {
    position: relative;
    left: 220px;
    top: 184px; }
  #show-case h5 {
    font-family: 'Dancing Script', cursive;
    line-height: 3.4rem;
    padding: 1.8rem;
    color: #D2276E;
    font-size: 3.5rem;
    font-weight: bolder;
    -webkit-text-stroke: 1px #fff;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
  #show-case .fa {
    color: yellow; }
  #show-case .lead {
    color: #000;
    font-weight: 400;
    font-size: 1rem; }
  #show-case .card-form {
    color: #000; }
    #show-case .card-form .form-group {
      margin-bottom: .6rem !important; }
    #show-case .card-form .rush-btn {
      background: #51B9D2;
      color: #fff; }
  #show-case .arrow-container {
    position: relative; }
    #show-case .arrow-container img {
      position: absolute;
      top: 6px;
      left: -345px; }

section.bar {
  background-color: #333;
  color: #fff; }

#feature {
  background: url("../img/lab.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff; }
  #feature .overlay {
    background: rgba(0, 0, 0, 0.8);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#steps {
  background-color: #F3EEEA; }
  #steps img {
    position: relative;
    top: -50px;
    border: #51B9D2 2px solid; }
  #steps .card {
    height: 400px; }

section#exclusive .fa {
  color: #fff;
  background: #51B9D2;
  padding: 4px;
  border-radius: 20px;
  font-size: 12px; }

#main-footer {
  background: #51B9D2;
  color: #000;
  font-size: 1rem;
  font-weight: 400; }
  #main-footer a {
    color: #fff; }

#sub-footer {
  background-color: #333;
  color: silver; }
  #sub-footer a {
    color: #51B9D2; }

@media (max-width: 990px) {
  nav.navbar {
    background-color: #000;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08); }
  .nav-link:before, .nav-link:after {
    background-color: transparent !important; } }

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); } }

@keyframes pulse {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); } }

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse; }
